body
{
	background-color: #111111;
	font-family: sans-serif;
	font-weight: bold;
	padding: 20px;
}

.timer-hud {
	position: relative;
	float: left;
	font-size: 20px;
	padding: 5px;
	bottom: 0;
	left: 0;
}

.timer-hud-element {
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	background: #38414a;
	background: rgba(40,50,61,.62);
	color: #ffffff;
}

.timer-controls {
	position: relative;
	float: right;
	font-size: 20px;
	padding: 5px;
	top: 0;
	right: 0;
}

.timer-control {
	cursor: pointer;
	display: inline-block;
	padding: 5px;
	background: #38414a;
	background: rgba(40,50,61,.62);
	color: #ffffff;
}

.add-timer {
	cursor: pointer;
}

.selectedRoom {
	font-size: 20px;
	padding: 5px;
	top: 0;
	left: 0;
	color: #ffffff;
}
		
#selRoomList
{
	height: 5vh;
	width: 15vh;
}

#clocktimedate
{
	width: 50vw;
	display: block;
	font-size: 15vw;
}

#clockdate
{
	display: block;
	font-size: 25%;         
	font-weight: 200;
	color: #908686;
}

#clockHM
{
	float: left;
	color: #7BB861;
	display: inline;
}

#clockSmallDetails
{
	display: inline-block;
}

#clockS
{
	font-size: 45%;
}

#clockAMPM
{
	font-size: 33%;
	color: #908686;
}

.timers-container
{
	font-size: 14vmin;
	position: absolute;
	top: 5px;
	right: 5px;
}

.timer-container
{
	text-align: left;
	color: #ffffff;
}

.countdown
{
	display: -moz-inline-stack;
	display: inline-block;
}

.countdown_digit
{
	padding: 5px 20px;
	background: #38414a;
	background: rgba(40,50,61,.62);
	font-family: sans-serif;
	font-weight: 300;
}

.countdown_seconds_digit
{
	color: #e55182;
}

.countdown_digitlabel
{
	padding: 5px;
	font-size: 1.5vw;
	text-align: center;
	text-transform: uppercase;
	color: #999999;
}

.countdown_label
{
	font-size: 2vw;
	text-align: left;
	color: #908686;
	padding-bottom: 15px;
}

.expired
{
	animation: blinker 1s linear infinite;
	font-size: 14vmin;
	padding: 5px 20px;
	background: #38414a;
	background: rgba(40,50,61,.62);
	font-family: sans-serif;
	font-weight: 300;
}

@keyframes blinker
{
	50%
	{
		opacity: 0;
	}
}

#divMessage
{
	position: absolute;
	width: 30%;
	top: 10%;
	right: 20%;
	font-size: 5vw;
}

  /* Dark Mode Toggle */
  .theme-switch-wrapper {
	display: flex;
	align-items: center;
	z-index: 100;
	/*position: fixed;
	right: 25px;
	top: 30px;*/
  }
  
  .theme-switch-wrapper span {
	margin-right: 10px;
	font-size: 1rem;
  }
  
  .toggle-text {
	position: relative;
	top: 0px;
	right: -8px;
	color: var(--on-background);
	font-weight: bold;
  }
  
  .theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
  }
  
  .theme-switch input {
	display: none;
  }
  
  .slider {
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: 0.4s;
  }
  
  .slider::before {
	background: #fff;
	bottom: 4px;
	content: '';
	height: 26px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
  }
  
  input:checked + .slider {
	background: #7BB861;
  }
  
  input:checked + .slider::before {
	transform: translateX(26px);
  }
  
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round::before {
	border-radius: 50%;
  }
  
  .fas {
	font-size: 30px;
	margin-right: 5px;
  }